body {
	background: green;
	margin-left: 200px;
	margin-right: 200px;
}

h1{
	color: red;
	font-family: fantasy;
}

h2{
	color: white;
	font-family: fantasy;
}

p{
	font-size: 18px;
}

.img_padrao{
	margin-bottom: 30px;
	width: 300px;
}